@page "/"

<PageTitle>Início</PageTitle>

<span class="pageheader">Modulum</span>
<br />
<p class="pagecontent">Esta aplicação está em desenvolvimento, seu nome é "Modulum", essa aplicação tem como objetivo cadastrar seu proprio sistema dentro dessa plataforma que será apresentado como projeto final na Faculdade das Americas em junho de 2025</p>
<h5 class="productheader"> Versao do dia 18/09/2024</h5>
