@using Microsoft.AspNetCore.Http
@inherits LayoutComponentBase
@layout MainLayout


@*Implementar logica de loading quando as consultas forem realizadas apos acessar o menu do usuario, exemplo:

if(IsLoading)
{
    <h1>Carregando...</h1>
}
else
{
    @Body
}
*@
@Body


@code {

}
