@inherits LayoutComponentBase
@inject Microsoft.Extensions.Localization.IStringLocalizer<NotFoundLayout> _localizer

<div class="d-flex justify-content-center align-items-center">
	<div class="col-md-12 text-center">
		<h1>404 =(</h1>
		<h2>Pagina não Encontrada</h2>
		<p>
			Desculpe, a página que você está procurando
			pois não existe.
		</p>
		<a href="/">Voltar</a>
	</div>
</div>